extends layouts/main-layout.pug

block body
    span(style="display: block; width: 100%; text-align: center; color: #333; font-size: 140px; font-weight: 700; margin-top: 70px; line-height: 110px") 404
    span(style="display: block; width: 100%; text-align: center; color: #333; font-size: 20px;") Nie znaleziono strony!