nav {
    position: relative;
    z-index: 2;
}

nav > ul {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
    padding: 0;
    margin: 0;
    position: absolute;
    width: fit-content;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

nav > ul > li {
    display: inline-block;
    margin-left: 20px;
    user-select: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
}

nav > ul > li > a {
    transition: color 0.45s;
    text-decoration: none;
}

nav > ul > li > a.active {
    color: #000;
}

nav > ul > li > a:hover {
    color: #000;
    transition: color 0.45s;
    text-decoration: none;
}

nav > img {
    position: relative;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    transition: left 0.3s, width 0.3s, height 0.3s;
    cursor: pointer;
}

nav > img:hover {
    width: 62px;
    height: 62px;

    transition: 0.3s;
}

nav > i.fa-bars {
    font-size: 28px;
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

@media screen and (max-width: 730px) {
    nav > ul {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.35s, visibility 0s 0.25s;
    }

    nav > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: left 0.4s;
    }

    nav > i.fa-bars {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s;

    }
}